
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" >
			

			<div class="col-xs-12">
				<h2 class="section-headline1" style="text-align: center;">
					<span>User Account &#38; Login</span>
				</h2>
			</div>
		</div>
		
		
	

		<div class="row" style="margin-top: 100px;">
			<div class="col-xs-5 col-xs-offset-4">
				<!-- Nav Tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveNewAccount}?'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color:	#5f4c4c">Create
								New Account</span></a></li>
					<li th:classappend="${classActiveLogin}?'active'"><a
						href="#tab-2" data-toggle="tab"><span style="color:	#5f4c4c">Log
								in</span></a></li>
					<li th:classappend="${classActiveForgetPassword}?'active'"><a
						href="#tab-3" data-toggle="tab"><span style="color:	#5f4c4c">Forget
								Password</span></a></li>
				</ul>

				<div class="tab-content">
					<!-- Create new account -->
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveNewAccount}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color:#b9c2ff; margin-top: 20px;">
									<div class="alert alert-info" th:if="${emailSent}">An
										email has been sent to your account.please visit your email to
										verify your account.</div>
									<form th:action="@{/newUser}" method="post">
										<div class="form-group">
											<label for="newUsername">* Username</label>&nbsp;<span
												style="color: red;" th:if="${usernameExists}">Username
												already exists choose a different one.</span> <input
												required="required" type="text" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282;">Enter your username here.</p>
										</div>

										<div class="form-group">
											<label for="email">* Email</label> &nbsp;<span
												style="color: red;" th:if="${emailExists}">Email
												already exists choose a different one.</span> <input required="required"
												type="text" class="form-control" id="email" name="email" />
											<p style="color: #828282;">Enter your email here.</p>
										</div>

										<button type="submit" class="btn btn-info">Create new
											Account</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Login -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveLogin}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #b9c2ff; margin-top: 20px;">
									<div th:if="${param.error !=null}" style="color:red;">Incorrect username or password.</div>
									<form th:action="@{/login}" method="post">
										<div class="form-group">
											<label for="newUsername">* Username</label> <input
												required="required" type="text" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282;">Enter your username here.</p>
										</div>

										<div class="form-group">
											<label for="password">* Password</label> <input
												required="required" type="password" class="form-control"
												id="password" name="password" />
											<p style="color: #828282;">Enter your correct password
												here.</p>
										</div>

										<button type="submit" class="btn btn-info">Log in</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- Forget password -->
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveForgetPassword}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #b9c2ff; margin-top: 20px;">
									<div th:if="${emailNotExist}" class="alert alert-danger">Email doesn't exist.
									</div>
									
									<div th:if="${forgetPassword}" class="alert alert-success">Email sent.
									</div>
									<form th:action="@{/forgetPassword}" method="post">
										<div class="form-group">
											<label for="recoverEmail">* Your Email</label> <input
												required="required" type="text" class="form-control"
												id="recoverEmail" name="email" />
											<p style="color: #828282;">Enter your email that you
												registered from.</p>
										</div>



										<button type="submit" class="btn btn-info">Forget
											Password</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div><!-- end of container -->



<div th:replace="common/header :: footer" />

		<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
